Repository peterjc/thapbi-pict: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-tabs, leading-tabs

.pre-commit-config.yaml:

# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: debug-statements
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(rst|tex|yml|yaml|py)$
    -   id: leading-tabs
        name: No leading tabs
        description: Reject any lines starting with a tab
        entry: '^\t'
        language: pygrep
        files: \.sh$
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--check]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-blind-except',
            'flake8-docstrings',
            'flake8-rst-docstrings',
            'flake8-bugbear',
            'flake8-sfs',
            'flake8-pie',
            'flake8-comprehensions',
            'flake8-docstrings',
            'flake8-implicit-str-concat',
            'pydocstyle>=5.0.0',
         ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
        exclude: ^.github/
-   repo: https://github.com/myint/rstcheck
    rev: ''
    hooks:
    -   id: rstcheck
        args: [
            --report=warning,
            --ignore-directives=automodule,
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: ''
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports

Sort the ena submission reads table
  tests/reads/ena_submit.tsv
  tests/reads/ena_submit_custom.tsv
  thapbi_pict/ena_submit.py
Due: no-tabs

Mention ena-submit in the API commands docs
  docs/commands.rst
Due: no-tabs

v0.7.2 today
  CHANGELOG.rst
Due: no-tabs

Handle corner case of no reads in cutadapt
  thapbi_pict/prepare.py
Due: no-tabs

black, version 20.8b1
  thapbi_pict/__main__.py
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Update pre-commit to black 20.8b1
  .pre-commit-config.yaml
Due: no-tabs

Fix bash indentation (visual change only)
  examples/endangered_species/run.sh
Due: leading-tabs

This was also a perfect dog sequence
  examples/endangered_species/references/Mini-16S.fasta
Due: none

Dog, not wolf
  examples/endangered_species/references/Mini-16S.fasta
Due: none

Only want a single FASTA header when pool
  examples/endangered_species/run.sh
Due: leading-tabs

Update copyright to 2020; missing license header
  thapbi_pict/__init__.py
  thapbi_pict/assess.py
  thapbi_pict/conflicts.py
  thapbi_pict/db_import.py
  thapbi_pict/db_orm.py
  thapbi_pict/dump.py
  thapbi_pict/edit_graph.py
  thapbi_pict/ena_submit.py
  thapbi_pict/fasta_nr.py
  thapbi_pict/ncbi.py
  thapbi_pict/seq_import.py
  thapbi_pict/taxdump.py
  thapbi_pict/versions.py
Due: no-tabs

Update prepare-reads test with cutadapt 3.0
  requirements-ext.txt
  tests/prepare-reads/DNAMIX_S95_L001.fasta
Due: none

And these too
  tests/pipeline/thapbi-pict.edit-graph.xgmml
  tests/pipeline/thapbi-pict.reads.onebp.tsv
  tests/pipeline/thapbi-pict.samples.onebp.tsv
Due: none

Force FASTA output from cutadapt
  thapbi_pict/prepare.py
Due: no-tabs

Start tracking changes for v0.7.3
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Drop TravisCI (free service being retired)
  .travis.yml
  CONTRIBUTING.rst
  README.rst
Due: no-tabs

Adding MG553207.1;MG696477.1 Phytophthora gonapodyides
  database/Phytophthora_ITS1_curated.fasta
Due: none

Update curated import test (2 more accessions)
  tests/test_curated-import.sh
Due: leading-tabs

Automatically prepare single isolate FASTA
  database/build_ITS1_DB.sh
Due: leading-tabs

1s3g - brute force Levenshtein edit-distance classifier
  thapbi_pict/classify.py
Due: no-tabs

1s3g in CHANGELOG
  CHANGELOG.rst
Due: no-tabs

Defatult classifier tests for 1s3g
  tests/classify/P-infestans-T30-4.1s3g.tsv
  tests/classify/hmm_trim.1s3g.tsv
  tests/classify/multiple_its1.1s3g.tsv
  tests/test_classify.sh
Due: leading-tabs

Include 1s3g in introductory docs
  docs/introduction.rst
Due: no-tabs

Update to 2021-01-01 NCBI taxonomy
  database/Phytophthora_ITS1_curated.fasta
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
  tests/test_curated-import.sh
  tests/woody_hosts/DNA_MIXES.assess.tsv
Due: leading-tabs

Rebuild DB for v0.7.3
  database/ITS1_DB.sql
Due: none

Update classify test output (species name change)
  tests/classify/P-infestans-T30-4.1s3g.tsv
  tests/classify/P-infestans-T30-4.blast.tsv
  tests/classify/P-infestans-T30-4.identity.tsv
  tests/classify/P-infestans-T30-4.onebp.tsv
  tests/classify/P-infestans-T30-4.substr.tsv
  tests/classify/P-infestans-T30-4.swarm.tsv
  tests/classify/P-infestans-T30-4.swarmid.tsv
  tests/classify/hmm_trim.1s3g.tsv
  tests/classify/hmm_trim.blast.tsv
  tests/classify/hmm_trim.identity.tsv
  tests/classify/hmm_trim.onebp.tsv
  tests/classify/multiple_its1.1s3g.tsv
  tests/classify/multiple_its1.blast.tsv
  tests/classify/multiple_its1.identity.tsv
  tests/classify/multiple_its1.onebp.tsv
Due: none

Update test_dump.sh - larger DB now
  tests/test_dump.sh
Due: leading-tabs

Update dependency instructions (dropped TravisCI)
  CONTRIBUTING.rst
Due: no-tabs
