Repository peterjc/thapbi-pict: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-tabs, leading-tabs

.pre-commit-config.yaml:

# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: debug-statements
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(rst|tex|yml|yaml|py)$
    -   id: leading-tabs
        name: No leading tabs
        description: Reject any lines starting with a tab
        entry: '^\t'
        language: pygrep
        files: \.sh$
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--check]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-blind-except',
            'flake8-docstrings',
            'flake8-rst-docstrings',
            'flake8-bugbear',
            'flake8-sfs',
            'flake8-pie',
            'flake8-comprehensions',
            'flake8-docstrings',
            'flake8-implicit-str-concat',
            'pydocstyle>=5.0.0',
         ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
        exclude: ^.github/
-   repo: https://github.com/myint/rstcheck
    rev: ''
    hooks:
    -   id: rstcheck
        args: [
            --report=warning,
            --ignore-directives=automodule,
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: ''
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports

Call this v0.7.6, no need to rebuild DB
  CHANGELOG.rst
Due: no-tabs

Update script comments
  database/build_ITS1_DB.sh
Due: leading-tabs

Only unzip names.dmp and nodes.dmp from NCBI taxonomy
  tests/test_load-tax.sh
  tests/test_ncbi-import.sh
Due: leading-tabs

Test can rebuild the DB
  tests/run_tests.sh
  tests/test_build_db.sh
Due: leading-tabs

Only use 2 taxonomy dumps in the tests
  tests/test_load-tax.sh
Due: leading-tabs

Bundle single isolates etc in tar-ball too
  MANIFEST.in
Due: none

Sync DB build scripts
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: leading-tabs

Use taxdmp_2021-01-01.zip as half the size
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: leading-tabs

Curated Nothophytophthora ITS1 sequences
  database/Nothophytophthora_ITS1_curated.fasta
Due: none

Use Nothophytophthora_ITS1_curated.fasta
  MANIFEST.in
  database/README.rst
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: no-tabs, leading-tabs

Adding 12 novel species from Català et al. (2018)
  database/Phytophthora_ITS1_curated.fasta
  database/README.rst
Due: no-tabs

Additional single isolates from Oct 2020 plate
  database/single_isolates/2019-BL-1B_S117_L001.fasta
  database/single_isolates/2019-Pp2_S176_L001.fasta
  database/single_isolates/P-foliorum_S165_L001.fasta
  database/single_isolates/Pd2c_S105_L001.fasta
  database/single_isolates/RG161_S139_L001.fasta
  database/single_isolates/SCRP1218_S174_L001.fasta
  database/single_isolates/SCRP1220_S151_L001.fasta
  database/single_isolates/SCRP1222_S187_L001.fasta
  database/single_isolates/SCRP1226_S186_L001.fasta
  database/single_isolates/SCRP1227_S103_L001.fasta
  database/single_isolates/SCRP179_S177_L001.fasta
  database/single_isolates/SCRP390_S129_L001.fasta
  database/single_isolates/SCRP660_S153_L001.fasta
  database/single_isolates/SCRP722_S141_L001.fasta
  database/single_isolates/SRCP1221_S175_L001.fasta
  database/single_isolates/WL54_S128_L001.fasta
  database/single_isolates/WL77_S152_L001.fasta
Due: none

v0.7.7 - expanding default DB
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Rebuild DB for v0.7.7 with more entries
  database/ITS1_DB.sql
Due: none

Update tests for v0.7.7 - more species in DB now
  tests/classify/multiple_its1.1s3g.tsv
  tests/classify/multiple_its1.blast.tsv
  tests/classify/multiple_its1.identity.tsv
  tests/classify/multiple_its1.onebp.tsv
  tests/test_curated-import.sh
  tests/test_dump.sh
  tests/test_edit-graph.sh
  tests/woody_hosts/DNA_MIXES.assess.tsv
  tests/woody_hosts/all.blast.tsv
  tests/woody_hosts/all.onebp.tsv
Due: leading-tabs

Single isolates from 2 plates now; fixed date
  database/README.rst
Due: no-tabs

Update three -> four biological sequence set
  database/README.rst
Due: no-tabs

typo in manifest
  MANIFEST.in
Due: none

Two problematic accesions are no longer used
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: leading-tabs

Drop NCBI entries with only partial 32b start
  database/2021-01-28-ITS_Peronosporales_w32.fasta
  database/README.rst
Due: no-tabs

Import NCBI Oomycota, not just Peronosporales
  MANIFEST.in
  database/2021-01-28-ITS_Peronosporales_w32.fasta
  database/2021-02-23-ITS_Oomycota_w32.fasta
  database/README.rst
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: no-tabs, leading-tabs

Update tests
  tests/classify/multiple_its1.1s3g.tsv
  tests/classify/multiple_its1.blast.tsv
  tests/classify/multiple_its1.identity.tsv
  tests/classify/multiple_its1.onebp.tsv
  tests/summary/classify-meta.blast.tsv
  tests/summary/classify-meta.blast.txt
  tests/summary/classify.blast.tsv
  tests/summary/classify.blast.txt
  tests/test_dump.sh
Due: leading-tabs

Update DB and date for v0.7.7 (more DB work)
  CHANGELOG.rst
  database/ITS1_DB.sql
Due: no-tabs
