Repository peterjc/thapbi-pict: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-tabs, leading-tabs

no-tabs:
  name: No tabs
  description: Reject any files containing a tab
  entry: \t
  language: pygrep

leading-tabs:
  name: No leading tabs
  description: Reject any lines starting with a tab
  entry: ^\t
  language: pygrep

Great lakes invasive invertebrate species example
  examples/great_lakes/PRJNA379165.txt
  examples/great_lakes/README.rst
  examples/great_lakes/metadata.tsv
  examples/great_lakes/raw_data/MD5SUM.txt
  examples/great_lakes/run.sh
  examples/great_lakes/setup.sh
  examples/run_all.sh
  examples/setup_all.sh
Due: no-tabs, leading-tabs

Make a high abundance threshold edit-graph
  examples/great_lakes/run.sh
Due: leading-tabs

Setup expected values for mocks/controls
  examples/great_lakes/expected/mock_community.MOL16S.known.tsv
  examples/great_lakes/expected/mock_community.SPH16S.known.tsv
  examples/great_lakes/expected/negative_control.known.tsv
  examples/great_lakes/setup.sh
Due: leading-tabs

Line wrap FASTA lines at 80
  docs/examples/great_lakes/abundance.rst
Due: no-tabs

Check primer mixing giving long product
  examples/great_lakes/run.sh
Due: leading-tabs

Less columns for HTML display
  docs/examples/great_lakes/abundance.rst
Due: no-tabs

Tweak abundance docs
  docs/examples/great_lakes/abundance.rst
Due: no-tabs

Review abundance levels in great_lakes
  docs/examples/great_lakes/abundance.rst
  docs/examples/great_lakes/index.rst
Due: no-tabs

Drop subspecies for Dreissena rostriformis bugensis
  examples/great_lakes/MOL16S.fasta
Due: none

Discard subspecies for Cipangopaludina chinensis
  examples/great_lakes/MOL16S.fasta
Due: none

Discuss presence/absense in mock communities
  docs/examples/great_lakes/index.rst
  docs/examples/great_lakes/presence_absence.rst
Due: no-tabs

Great Lakes docs (start)
  docs/examples/great_lakes/index.rst
  docs/examples/great_lakes/sample_data.rst
  docs/examples/index.rst
Due: no-tabs

Talk about great lakes edit-graph
  docs/examples/great_lakes/edit_graph.rst
  docs/examples/great_lakes/index.rst
  docs/images/great_lakes.MOL16S.png
  docs/images/great_lakes.MOL16S.svg
  docs/images/great_lakes.SPH16S.png
  docs/images/great_lakes.SPH16S.svg
  docs/images/great_lakes.mock.MOL16S.png
  docs/images/great_lakes.mock.MOL16S.svg
  docs/images/great_lakes.mock.SPH16S.png
  docs/images/great_lakes.mock.SPH16S.svg
Due: no-tabs

References using cutadapt
  examples/great_lakes/MOL16S.fasta
  examples/great_lakes/SPH16S.fasta
Due: none

Build mock community specific edit graphs
  examples/great_lakes/run.sh
Due: leading-tabs

Polish text
  docs/examples/great_lakes/edit_graph.rst
Due: no-tabs

Add conclusion for great lakes
  docs/examples/great_lakes/edit_graph.rst
Due: no-tabs

Remove misleading text - only one metadata file
  docs/examples/microalgal_mock/sample_data.rst
Due: no-tabs

Multiple markers: Sequenced together or separately?
  docs/examples/index.rst
Due: no-tabs

Fixed typo
  examples/README.rst
Due: no-tabs

Rebuild DB for v0.7.1
  database/ITS1_DB.sql
Due: none

Commentary on negative controls
  docs/examples/microalgal_mock/presence_absence.rst
Due: no-tabs

Include great_lakes, fecal_sequel, endangered_species in tar-ball
  MANIFEST.in
Due: none

Update example run times
  examples/great_lakes/run.sh
Due: leading-tabs

Update microalgal_mock entries in manifest
  MANIFEST.in
Due: none

Path conditions:
  no-tabs: any of: \.(rst|tex|yml|yaml|py)$
  leading-tabs: any of: \.sh$
