Repository peterjc/thapbi-pict: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-tabs, leading-tabs

.pre-commit-config.yaml:

# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: debug-statements
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(rst|tex|yml|yaml|py)$
    -   id: leading-tabs
        name: No leading tabs
        description: Reject any lines starting with a tab
        entry: '^\t'
        language: pygrep
        files: \.sh$
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--check]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-blind-except',
            'flake8-docstrings',
            'flake8-rst-docstrings',
            'flake8-bugbear',
            'flake8-sfs',
            'flake8-pie',
            'flake8-comprehensions',
            'flake8-docstrings',
            'flake8-implicit-str-concat',
            'pydocstyle>=5.0.0',
         ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
        exclude: ^.github/
-   repo: https://github.com/myint/rstcheck
    rev: ''
    hooks:
    -   id: rstcheck
        args: [
            --report=warning,
            --ignore-directives=automodule,
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: ''
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports

Update DB and date for v0.7.7 (more DB work)
  CHANGELOG.rst
  database/ITS1_DB.sql
Due: no-tabs

Two problematic accesions are no longer used
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: leading-tabs

Call this v0.7.7 as of 2021-02-24
  CHANGELOG.rst
Due: no-tabs

Relax parse_species_tsv to make note optional
  thapbi_pict/utils.py
Due: no-tabs

Fixed typo
  docs/examples/great_lakes/index.rst
Due: no-tabs

Remove ref to separate sample-summary and read-summary
  thapbi_pict/__main__.py
Due: no-tabs

Was not using passed in argument
  thapbi_pict/utils.py
Due: no-tabs

Refactor data loading for summary reports
  thapbi_pict/summary.py
Due: no-tabs

Clarify read reports TOTAL row also uses MAX
  tests/classify/P-infestans-T30-4.summary.tsv
  tests/pipeline/thapbi-pict.reads.onebp.tsv
  thapbi_pict/summary.py
Due: no-tabs

Use max not sum for read table sample count.
  tests/classify/P-infestans-T30-4.summary.tsv
  tests/pipeline/thapbi-pict.reads.onebp.tsv
  thapbi_pict/summary.py
Due: no-tabs

Adjust column headings when pooling
  thapbi_pict/summary.py
Due: no-tabs

Starting summary sample pooling
  thapbi_pict/__main__.py
  thapbi_pict/ena_submit.py
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Changed column heading
  tests/pipeline/thapbi-pict.reads.onebp.tsv
  tests/pipeline/thapbi-pict.samples.onebp.tsv
  tests/summary/classify-meta-req.blast.tsv
  tests/summary/classify-meta-req.identity.tsv
  tests/summary/classify-meta-req.onebp.tsv
  tests/summary/classify-meta.blast.tsv
  tests/summary/classify-meta.identity.tsv
  tests/summary/classify-meta.onebp.tsv
  tests/summary/classify.blast.tsv
  tests/summary/classify.identity.tsv
  tests/summary/classify.onebp.tsv
Due: none

Kinda working pooled sample summary reports
  thapbi_pict/ena_submit.py
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Retain old column meanings in read report
  tests/classify/P-infestans-T30-4.summary.tsv
  thapbi_pict/summary.py
Due: no-tabs

Changed column headings
  tests/pipeline/thapbi-pict.samples.onebp.tsv
  tests/summary/classify-meta-req.blast.tsv
  tests/summary/classify-meta-req.identity.tsv
  tests/summary/classify-meta-req.onebp.tsv
  tests/summary/classify-meta.blast.tsv
  tests/summary/classify-meta.identity.tsv
  tests/summary/classify-meta.onebp.tsv
  tests/summary/classify.blast.tsv
  tests/summary/classify.identity.tsv
  tests/summary/classify.onebp.tsv
Due: none

Must convert pool column number into an offset
  thapbi_pict/utils.py
Due: no-tabs

Fix pooling with unsequenced samples
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Silence debug message by default
  thapbi_pict/utils.py
Due: no-tabs

Fix -q and -p used together
  thapbi_pict/summary.py
Due: no-tabs

Typo (missing word); line wrapping
  database/README.rst
Due: no-tabs

Clarify how single isolate positive controls setup
  database/README.rst
Due: no-tabs

Note NCBI import discards uncultured entries
  database/README.rst
Due: no-tabs

Remove unused internal metadata_sort argument
  thapbi_pict/ena_submit.py
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Remove stray gaps in KY788418 N. valdiviana entry
  database/ITS1_DB.sql
  database/Nothophytophthora_ITS1_curated.fasta
  thapbi_pict/__init__.py
Due: no-tabs

Only IUPAC DNA characters for imports
  CHANGELOG.rst
  thapbi_pict/db_import.py
Due: no-tabs

Detailed summary metadata test-case
  tests/summary_meta/A1.1s3g.tsv
  tests/summary_meta/A1.fasta
  tests/summary_meta/A2.1s3g.tsv
  tests/summary_meta/A2.fasta
  tests/summary_meta/B1.1s3g.tsv
  tests/summary_meta/B1.fasta
  tests/summary_meta/B1r.1s3g.tsv
  tests/summary_meta/B1r.fasta
  tests/summary_meta/C1.1s3g.tsv
  tests/summary_meta/C1.fasta
  tests/summary_meta/X1.1s3g.tsv
  tests/summary_meta/X1.fasta
  tests/summary_meta/Y1.1s3g.tsv
  tests/summary_meta/Y1.fasta
  tests/summary_meta/metadata.tsv
  tests/summary_meta/summary-defaults.reads.1s3g.tsv
  tests/summary_meta/summary-defaults.samples.1s3g.tsv
  tests/summary_meta/summary-defaults.samples.1s3g.txt
  tests/summary_meta/summary-req-meta.reads.1s3g.tsv
  tests/summary_meta/summary-req-meta.samples.1s3g.tsv
  tests/summary_meta/summary-req-meta.samples.1s3g.txt
  tests/test_summary.sh
Due: leading-tabs

Drop newline from minimal classifier output
  thapbi_pict/utils.py
Due: no-tabs

Fix trailing newlines
  tests/summary_meta/summary-defaults.reads.1s3g.tsv
  tests/summary_meta/summary-defaults.samples.1s3g.tsv
  tests/summary_meta/summary-defaults.samples.1s3g.txt
  tests/summary_meta/summary-req-meta.reads.1s3g.tsv
  tests/summary_meta/summary-req-meta.samples.1s3g.tsv
  tests/summary_meta/summary-req-meta.samples.1s3g.txt
Due: none

Fix f-string in logging message
  thapbi_pict/edit_graph.py
Due: no-tabs

Expand test case with more unsequenced entries
  tests/summary_meta/metadata.tsv
Due: none

Shorter filenames for this test
  tests/summary_meta/summary-q.reads.1s3g.tsv
  tests/summary_meta/summary-q.samples.1s3g.tsv
  tests/summary_meta/summary-q.samples.1s3g.txt
  tests/test_summary.sh
Due: leading-tabs

Another shorter summary test filename
  tests/summary_meta/summary.reads.1s3g.tsv
  tests/summary_meta/summary.samples.1s3g.tsv
  tests/summary_meta/summary.samples.1s3g.txt
  tests/test_summary.sh
Due: leading-tabs
