Repository peterjc/thapbi-pict: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-tabs, leading-tabs

.pre-commit-config.yaml:

# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: debug-statements
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(rst|tex|yml|yaml|py)$
    -   id: leading-tabs
        name: No leading tabs
        description: Reject any lines starting with a tab
        entry: '^\t'
        language: pygrep
        files: \.sh$
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--check]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-blind-except',
            'flake8-docstrings',
            'flake8-rst-docstrings',
            'flake8-bugbear',
            'flake8-sfs',
            'flake8-pie',
            'flake8-comprehensions',
            'flake8-docstrings',
            'flake8-implicit-str-concat',
            'pydocstyle>=5.0.0',
         ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
        exclude: ^.github/
-   repo: https://github.com/myint/rstcheck
    rev: ''
    hooks:
    -   id: rstcheck
        args: [
            --report=warning,
            --ignore-directives=automodule,
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: ''
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports

Remove the old command
  database/README.rst
Due: no-tabs

Rebuild DB, trivial change
  database/ITS1_DB.sql
Due: none

Forgot to date the v0.7.3 release
  CHANGELOG.rst
Due: no-tabs

Remove references to legacy-import
  thapbi_pict/curated.py
  thapbi_pict/db_import.py
Due: no-tabs

Check in build_all.sh
  database/build_all.sh
Due: leading-tabs

Addition curated set for our default DB (uncultured)
  database/Peronosporales_ITS1_curated.fasta
Due: none

Version bump to 0.7.4
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Import curated Peronosporales file at genus level
  database/README.rst
  database/build_CURATED+NCBI.sh
  database/build_CURATED.sh
  database/build_ITS1_DB.sh
Due: no-tabs, leading-tabs

Expand 1s3g to upper distance from 2 to 5
  thapbi_pict/classify.py
Due: no-tabs

Update change log
  CHANGELOG.rst
Due: no-tabs

Add Zenodo DOI badge
  README.rst
Due: no-tabs

Add Zenodo DOI to the main documentation page
  docs/index.rst
Due: no-tabs

Fixed typo
  CHANGELOG.rst
Due: no-tabs

Include genus-only labels in edit graphs
  CHANGELOG.rst
  thapbi_pict/__init__.py
  thapbi_pict/edit_graph.py
Due: no-tabs

Changelog
  CHANGELOG.rst
Due: no-tabs

More precise left trimming of NCBI import
  database/2021-01-28-ITS_Peronosporales_w32.fasta
  database/README.rst
Due: no-tabs

Refresh DB dump numbers
  tests/test_dump.sh
Due: leading-tabs

Version bump for NCBI import change
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Rebuild DB with cleaner NCBI import
  database/ITS1_DB.sql
Due: none

v0.7.5 today 2021-02-16
  CHANGELOG.rst
Due: no-tabs

Accept multiple FASTA to curated-import
  thapbi_pict/__main__.py
  thapbi_pict/curated.py
Due: no-tabs

Correct taxonomy date in README, breakup up bullets
  database/README.rst
Due: no-tabs

seq-import --> curated-seq command
  CHANGELOG.rst
  database/build_ITS1_DB.sh
  thapbi_pict/__init__.py
  thapbi_pict/__main__.py
  thapbi_pict/seq_import.py
Due: no-tabs, leading-tabs

doc update
  docs/commands.rst
Due: no-tabs

test_curated-seq.sh
  tests/run_tests.sh
  tests/test_curated-seq.sh
  tests/test_seq-import.sh
Due: leading-tabs

typo
  CHANGELOG.rst
Due: no-tabs

Pass all files to thapbi_pict curated-import at once
  database/build_ITS1_DB.sh
Due: leading-tabs

Storing single isolated under version control now
  database/build_ITS1_DB.sh
Due: leading-tabs
