Repository peterjc/thapbi-pict: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-tabs, leading-tabs

.pre-commit-config.yaml:

# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: debug-statements
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(rst|tex|yml|yaml|py)$
    -   id: leading-tabs
        name: No leading tabs
        description: Reject any lines starting with a tab
        entry: '^\t'
        language: pygrep
        files: \.sh$
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--check]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-blind-except',
            'flake8-docstrings',
            'flake8-rst-docstrings',
            'flake8-bugbear',
            'flake8-sfs',
            'flake8-pie',
            'flake8-comprehensions',
            'flake8-docstrings',
            'flake8-implicit-str-concat',
            'pydocstyle>=5.0.0',
         ]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.6.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
        exclude: ^.github/
-   repo: https://github.com/myint/rstcheck
    rev: ''
    hooks:
    -   id: rstcheck
        args: [
            --report=warning,
            --ignore-directives=automodule,
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: ''
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports

Call this v0.7.8, releasing now
  CHANGELOG.rst
Due: no-tabs

Note about releases/zenodo in CONTRIBUTING
  CONTRIBUTING.rst
Due: no-tabs

Workaround for no -n / --negctrls in a pipeline setting
  tests/test_prepare-reads.sh
  thapbi_pict/__main__.py
  thapbi_pict/prepare.py
Due: no-tabs, leading-tabs

Refactor utils.load_metadata
  thapbi_pict/ena_submit.py
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Drop sample_sort function
  thapbi_pict/ena_submit.py
  thapbi_pict/utils.py
Due: no-tabs

Change arg name; avoid ambiguity
  thapbi_pict/summary.py
Due: no-tabs

Refactor handling of missing metadata
  thapbi_pict/summary.py
Due: no-tabs

Change arg name; avoid variable reuse
  thapbi_pict/summary.py
Due: no-tabs

Refactor and show unsequenced entries
  tests/summary_meta/summary-qu.samples.1s3g.tsv
  tests/summary_meta/summary-qu.samples.1s3g.txt
  tests/summary_meta/summary-u.samples.1s3g.tsv
  tests/summary_meta/summary-u.samples.1s3g.txt
  tests/test_summary.sh
  thapbi_pict/__main__.py
  thapbi_pict/summary.py
Due: no-tabs, leading-tabs

Change log for unsequenced entries in summary sample report
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Use - for unsequenced + second conditional format
  thapbi_pict/summary.py
Due: no-tabs

Tweak human report header
  tests/summary/classify-meta.blast.txt
  tests/summary/classify-meta.identity.txt
  tests/summary/classify-meta.onebp.txt
  tests/summary_meta/summary-u.samples.1s3g.txt
  tests/summary_meta/summary.samples.1s3g.txt
  thapbi_pict/summary.py
Due: no-tabs

v0.7.9 today, 2021-03-15
  CHANGELOG.rst
Due: no-tabs

Clarify -u help behavour (sample report only)
  thapbi_pict/__main__.py
Due: no-tabs

Define summary sample pooling option (boolean)
  thapbi_pict/__main__.py
  thapbi_pict/summary.py
  thapbi_pict/utils.py
Due: no-tabs

Start summary sample-pooling testing
  tests/summary_meta/summary-p.reads.1s3g.tsv
  tests/summary_meta/summary-p.samples.1s3g.tsv
  tests/summary_meta/summary-p.samples.1s3g.txt
  tests/summary_meta/summary-pq.reads.1s3g.tsv
  tests/summary_meta/summary-pq.samples.1s3g.tsv
  tests/summary_meta/summary-pq.samples.1s3g.txt
  tests/summary_meta/summary-pqu.samples.1s3g.tsv
  tests/summary_meta/summary-pqu.samples.1s3g.txt
  tests/summary_meta/summary-pu.samples.1s3g.tsv
  tests/summary_meta/summary-pu.samples.1s3g.txt
  tests/test_summary.sh
Due: leading-tabs

Implement pooling
  tests/summary_meta/summary-p.reads.1s3g.tsv
  tests/summary_meta/summary-p.samples.1s3g.tsv
  tests/summary_meta/summary-p.samples.1s3g.txt
  tests/summary_meta/summary-pq.reads.1s3g.tsv
  tests/summary_meta/summary-pq.samples.1s3g.tsv
  tests/summary_meta/summary-pq.samples.1s3g.txt
  tests/summary_meta/summary-pqu.samples.1s3g.tsv
  tests/summary_meta/summary-pqu.samples.1s3g.txt
  tests/summary_meta/summary-pu.samples.1s3g.tsv
  tests/summary_meta/summary-pu.samples.1s3g.txt
  thapbi_pict/summary.py
Due: no-tabs

Version bump and change log pooling
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Correct grey conditional formatting start column
  thapbi_pict/summary.py
Due: no-tabs

Cope with extra spaces in curated-import
  thapbi_pict/curated.py
  thapbi_pict/utils.py
Due: no-tabs

Add .zenodo.json with citation co-authors
  .zenodo.json
Due: none

Correct sample report sheet name in Excel
  thapbi_pict/summary.py
Due: no-tabs

Call fasta_nr from pipeline
  tests/pipeline/thapbi-pict.all_reads.fasta
  tests/test_pipeline.sh
  thapbi_pict/__main__.py
Due: no-tabs, leading-tabs

v0.7.10 - call fasta_nr from pipeline
  CHANGELOG.rst
  thapbi_pict/__init__.py
Due: no-tabs

Ask pre-commit to check JSON
  .pre-commit-config.yaml
Due: no-tabs

JSON does not like trailing commas
  .zenodo.json
Due: none

Pipeline edit-graph is (now) method specific
  tests/pipeline/thapbi-pict.edit-graph.onebp.xgmml
  tests/test_pipeline.sh
  thapbi_pict/__main__.py
Due: no-tabs, leading-tabs

Rename ENA project metadata from TXT to TSV
  docs/examples/endangered_species/sample_data.rst
  docs/examples/fungal_mock/sample_data.rst
  docs/examples/great_lakes/sample_data.rst
  docs/examples/microalgal_mock/sample_data.rst
  docs/examples/recycled_water/sample_data.rst
  examples/endangered_species/PRJEB18620.tsv
  examples/endangered_species/run.sh
  examples/endangered_species/setup.sh
  examples/fecal_sequel/PRJNA574765.tsv
  examples/fecal_sequel/setup.sh
  examples/fungal_mock/PRJNA377530.tsv
  examples/fungal_mock/setup.sh
  examples/great_lakes/PRJNA379165.tsv
  examples/great_lakes/run.sh
  examples/great_lakes/setup.sh
  examples/microalgal_mock/PRJNA314977.tsv
  examples/microalgal_mock/setup.sh
  examples/recycled_water/PRJNA417859.tsv
  examples/recycled_water/setup.sh
Due: no-tabs, leading-tabs

Tweak assert test for corner case
  thapbi_pict/db_import.py
Due: no-tabs
